<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.taskrabbit.zendesk" >

    <application>
        <activity android:name="zendesk.messaging.MessagingActivity"
            android:theme="@style/YourLightTheme" />

        <activity android:name="zendesk.support.guide.HelpCenterActivity"
            android:theme="@style/YourLightTheme" />

        <activity android:name="zendesk.support.guide.ViewArticleActivity"
            android:theme="@style/YourLightTheme" />

        <activity android:name="zendesk.support.request.RequestActivity"
            android:theme="@style/YourLightTheme" />

        <activity android:name="zendesk.support.requestlist.RequestListActivity"
            android:theme="@style/YourLightTheme" />
    </application>
</manifest>
